<md-content md-theme='light-green'>
<div>
     <md-list flex>
        <!-- md-subheader class="md-no-sticky">Our staff</md-subheader-->
        <md-list-item class="md-3-line" ng-repeat="stf in staff" ng-click="null" class="secondary-button-padding">
          <img ng-src="/images/user01.png" class="md-avatar"/>
          <div class="md-list-item-text" layout="column">
            <h3>{{ stf.name }}</h3>
            <h4>{{ stf.surname }}</h4>
            <p>Responsible for {{stf.animals.length}} animal(s)</p>
			<md-button class="md-secondary" ng-click="showStaffDetails(stf, $event)">Edit</md-button>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
        </md-list>

</div>
<section layout="row" layout-padding="">
	<cl-paging flex cl-pages="paging.total" , cl-steps="3" , 
      cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current">
    </cl-paging>
</section>

</md-content>