<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app" lang="pl-PL">

<head>
<title>Animals</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/animals.css}" />
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!--img alt="Zoo" src="..."-->
			...
		</div>
	</nav>
	<div ng-controller="Animals">

		<table st-table="displayedCollection" st-safe-src="animals"
			class="table table-striped">
			<thead>
				<tr>
					<th st-sort="id">id</th>
					<th st-sort="name">name</th>
					<th st-sort="spieces">spiece</th>
					<th st-sort="birthDate">birth date</th>
					<th st-sort="gender">gender</th>
					<th st-sort="responisblePerson">responisble person</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="animal in animals">
					<td>{{animal.id}}</td>
					<td>{{animal.name}}</td>
					<td>{{animal.spieces}}</td>
					<td>{{animal.birthDate}}</td>
					<td>{{animal.gender}}</td>
					<td>{{animal.responsiblePerson.id}}</td>
					<td>
						<button type="button" ng-click="delete(animal.id)"
							class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-remove-circle"> </i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<script th:src="@{/bower_components/angular/angular.min.js}"></script>
	<script
		th:src="@{/bower_components/angular-smart-table/dist/angular-smart-table.min.js}"></script>
	<script>
		angular.module('app', []).controller(
				'Animals',
				function($scope, $http) {
					$scope.refresh = function() {
						$http({
							method: 'GET',
							url: 'http://localhost:8080/rest/animals/all'
						}).then(function successCallback(response){
									$scope.animals = response.data;
						},function errorCallback(response) {
							console.log(response.status)
							console.log("error while fetching animal list");
						});
					};
					$scope.delete = function(id){
						$http({
							method: 'DELETE',
							url :'http://localhost:8080/rest/animals/delete/' +id
						}).then (function successCallback(response){
							$scope.refresh();
							console.log(response.status)
						}, function errorCallback(response) {
								console.log(response.status)
								console.log("error while deleting animal");
						});
					};
					$scope.refresh();
				});
	</script>
</body>

</html>